@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo </h1>
    <p> Aqui estão cadastrados todos os equipamentos da Equipe de Automação da Laminação a Quente (ALQ) </p>
    <p>Ao utilizar algum equipamento, registre a utilização e ao trazer um equipamento da área, lembre-se de registrar a inclusão </p>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
