@model WebApplication3.Models.Equipamentos


<h4>Equipamentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Devolver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
          
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Armario" class="control-label"></label>
                <input asp-for="Armario" class="form-control" />
                <span asp-validation-for="Armario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prateleira" class="control-label"></label>
                <input asp-for="Prateleira" class="form-control" />
                <span asp-validation-for="Prateleira" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <input type="submit" value="Devolver" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
