@model WebApplication3.Models.Equipamentos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipamentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Equipamento" class="control-label"></label>
                <input asp-for="Equipamento" class="form-control" />
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Armario" class="control-label"></label>
                <input asp-for="Armario" class="form-control" />
                <span asp-validation-for="Armario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prateleira" class="control-label"></label>
                <input asp-for="Prateleira" class="form-control" />
                <span asp-validation-for="Prateleira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistOper" class="control-label"></label>
                <input asp-for="SistOper" class="form-control" />
                <span asp-validation-for="SistOper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AplicativoInstalado" class="control-label"></label>
                <input asp-for="AplicativoInstalado" class="form-control" />
                <span asp-validation-for="AplicativoInstalado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaAutomação" class="control-label"></label>
                <input asp-for="SistemaAutomação" class="form-control" />
                <span asp-validation-for="SistemaAutomação" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PC" class="control-label"></label>
                <input asp-for="PC" class="form-control" />
                <span asp-validation-for="PC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RC" class="control-label"></label>
                <input asp-for="RC" class="form-control" />
                <span asp-validation-for="RC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemRC" class="control-label"></label>
                <input asp-for="ItemRC" class="form-control" />
                <span asp-validation-for="ItemRC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NF" class="control-label"></label>
                <input asp-for="NF" class="form-control" />
                <span asp-validation-for="NF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataGarantia" class="control-label"></label>
                <input asp-for="DataGarantia" class="form-control" />
                <span asp-validation-for="DataGarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<!--
<div>
    <button type="button" class="btn btn-primary" asp-action="Index">Back to List</button>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
